<div>
    <div class="col-md-12 col-sm-12"
        <div class="portlet box blue">
            <div class="portlet-body">
                <div class="table-responsive">
                    <table id="jqGridConfirmadas" class="heigth380"></table>
                    <div id="jqGridConfirmadasPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>