@{
    ViewBag.Title = "Módulo Materiales";
    Layout = "~/Views/Shared/_MetronicWtableLayout.cshtml";
}
<link href="~/Content/mapas.css" rel="stylesheet" />
@section scripts {  
<link href="~/Content/jquery-ui.1.8.16.css" rel="stylesheet" />
<link href="~/Content/ui.jqgrid.4.3.0.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.16.min.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/grid.locale-es-4.3.0.js"></script>
<script src="~/Scripts/jquery.jqGrid.src-4.3.0.js"></script>
<script src="~/Js/helpers/actividadesprebuild.js"></script>
<script src="../assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Js/datatables/verificaciones_table_managed.js"></script>
<script src="~/Js/jqgrid/jqgridCertiConfig.js"></script>
<script src="~/Angular/Services/GeoMapxWebApi.js"></script>
<script src="~/Angular/controllers/certificacionesApp.js"></script>
<script>
    function initialize() {
        angular.element(document.getElementById('certificacionesApp')).scope().startApp();
        TableDatatablesManaged.init();
        initGridActividadUsuario();
    }
</script>

}
<div id="certificacionesApp" data-ng-app="certificacionesApp" data-ng-controller="certificacionesController">
    <div class="page-content-inner">
        <div class="row">
            @Html.Partial("~/views/certificaciones/VerificacionesVista1.cshtml")           
        </div>
        <div class="row">
            @Html.Partial("~/views/certificaciones/VerificacionesVista2.cshtml")
        </div>
    </div>
</div>

