<div class="hor-menu  ">
    <ul class="nav navbar-nav">
        <li class=" ">
            <a href="/home">Inicio
           
                <span class="arrow"></span>
            </a>
        </li>
        @*@if(User.Identity.IsAuthenticated)*@
    @*{*@
       
        <li class="menu-dropdown classic-menu-dropdown ">
            <a href="javascript:;">Procesos
            <span class="arrow"></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li class=" ">
                    <a href="/diarias">Actividades Diarias
               
                <span class="arrow"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/diariasprebuild">Actividades (PreBuild)
               
                <span class="arrow"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/certificaciones/verificaciones">Certificaciones
               
                <span class="arrow"></span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-dropdown classic-menu-dropdown ">
            <a href="javascript:;">Mantenimientos
            <span class="arrow"></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li class=" ">
                    <a href="/postes">Postes               
                        <span class="arrow"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/actividades">Unidades constructivas               
                     <span class="arrow"></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/certificaciones/verificaciones" class="nav-link  ">Materiales x Unidades Consructivas
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-dropdown classic-menu-dropdown ">
            <a href="javascript:;">Almacén
                                                <span class="arrow"></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li class=" ">
                    <a href="/certificaciones/verificaciones" class="nav-link  ">Materiales
                    </a>
                </li>
            </ul>
        </li>
        @*<li class=" ">
            <a href="/account/logoff">Cerrar sesión
               
                <span class="arrow"></span>
            </a>
        </li>
        *@
    @*}*@
    @*else
    {
       
        <li class=" ">
            <a href="/account/login">Iniciar sesión
               
                <span class="arrow"></span>
            </a>
        </li>

        }*@
    @Html.Partial("_LoginPartial")
    </ul>
</div>
