
<div data-ng-cloak data-ng-show="false">
{{ d.control.app = "cubicaciones" }}
</div>

<div class="col-md-12 heigth380">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption"> &nbsp; ASIGNACIÓN NÚMERO DE CUBICACIÓN
           
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="fullscreen" data-original-title="" title=""></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Proyecto</label>
                    <div>
                        <select class="form-control"
                            data-ng-disabled="control.fieldsReadOnly"
                            data-ng-model="selectedProyect"
                            data-ng-options="proyecto.CodigoProyecto for proyecto in proyectosData"
                            data-ng-change="onProyectChange(selectedProyect)">
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">No. Cubicación</label>
                    <div>
                        <select class="form-control"
                            data-ng-disabled="control.fieldsReadOnly"
                            data-ng-options="p.Numero for p in secuenciasData" data-ng-model="selectedSecuencia"
                            data-ng-change="onSecuenciaChange(selectedSecuencia)">
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Fecha Inicio</label>
                    <div>
                        <input type="date" class="form-control"
                            data-ng-disabled="control.fieldsReadOnly"
                            data-ng-model="model.FechaInicio">
                        </input>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Fecha Fin</label>
                    <div>
                        <input type="date" class="form-control"
                            data-ng-disabled="control.fieldsReadOnly"
                            data-ng-model="model.FechaFin">
                        </input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Estado de Actividad</label>
                    <div>
                        <select class="form-control"
                            data-ng-disabled="control.fieldsReadOnly"
                            data-ng-options="p for p in estadosActividadData" data-ng-model="model.Estado" >
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Actividad Primaria</label>
                    <div>
                        <select class="form-control"
                            data-ng-disabled="control.fieldsReadOnly "
                            data-ng-options="p for p in actividadesPrimariasData" data-ng-model="model.ActividadPrimaria">
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Actividad Secundaria</label>
                    <div>
                        <select class="form-control"
                            data-ng-disabled="control.fieldsReadOnly"
                            data-ng-options="p for p in actividadesSecundariasData" data-ng-model="model.ActividadSecundaria">
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Actividad Secundaria</label>
                    <div>
                        <div class="actions">
                            <div>
                                <a data-ng-click="newEntrada()" data-ng-show="control.btns.Nuevo.show" class="btn default btn-md">
                                    <i class="fa fa-plus"></i>&nbsp; Nuevo
                                </a>
                            </div>
                            <a data-ng-click="cancelEntrada()" data-ng-show=" control.btns.Cancelar.show || false " class="btn default btn-sm">
                                <i class="fa fa-undo"></i>&nbsp; Cancelar
                            </a>
                            <a  data-ng-show=" control.btns.Guardar.show || false " data-ng-click="guardarEntrada()" class="btn blue btn-sm">
                                <i class="fa fa-save"></i>&nbsp; Guardar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Preview de Cubicación</label>
                    <div class="input-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
