<!-- Begin: life time stats -->
<div class="col-md-6 row-md-8">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">&nbsp; Detalles del Poste: <span data-ng-cloak data-ng-bind="selectedPoste.CodigoPoste || selectedPoste2.CodigoPoste"></span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="fullscreen"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#overview_1" data-ng-click="initMapAndMarker();initMapAndMarker();initMapAndMarker();" data-toggle="tab">Mapa </a>
                            </li>
                            <li>
                                <a href="#overview_2" data-toggle="tab">Actividades del Poste </a>
                            </li>
                        </ul>
                        <div class="tab-content  mapaprebuild">
                            <div class="tab-pane active" id="overview_1">
                                <div class="table-responsive">
                                    <div @*data-ng-app="appMap" data-ng-controller="mainCtrl"*@>
                                        <div id="map" class="mapaprebuild"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="overview_2">
                                <div class="table-responsive" id="jqGridPostesDiv">
                                    <table id="jqGridPostes" class=""></table>
                                    <div id="jqGridPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End: life time stats -->
