<!-- Begin: life time stats -->
<div class="col-md-12"">
    <div class="portlet box blue">
        <div class="portlet-body">
            <div class="table-responsive">
                <table id="jqGridActividadUsuario" class="heigth380"></table>
                <div id="jqGridActividadUsuarioPager"></div>
            </div>
        </div>
    </div>
</div>
<!-- End: life time stats -->
