@{
    ViewBag.Title = "Actividades diarias";
    //Layout = "~/Views/Shared/_MetronicWtableLayout.cshtml";
    //Layout = "~/Views/Shared/_MetronicLayout.cshtml";
}

<link href="~/Content/mapas.css" rel="stylesheet" />
<link href="~/Content/home.css" rel="stylesheet" />
@section scripts {  
 <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/redmond/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.3.0/css/ui.jqgrid.css" />
    <script src="../assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


    @*<script src="~/Scripts/grid.locale-en.js"></script>*@
    <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.3.0/js/i18n/grid.locale-en.js"></script>
  @*  <script src="~/Scripts/jquery.jqGrid.min.js"></script>*@
  <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.3.0/js/jquery.jqGrid.src.js"></script>
@*    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/ui.jqgrid.css" rel="stylesheet" />*@





@*<script src="~/Scripts/mapas/googlemaps.js"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXIfqI0uB8etsuthpP2ZOKidDodYShFt8"
        async defer></script>
    <script src="~/Js/mapas/mapas.js"></script>
    <script src="~/Js/jqgrid/jqgridDiariasPrebuildConfig.js"></script>
    <script src="~/Angular/Services/GeoMapxWebApi.js"></script>
    <script src="~/Js/helpers/actividadesprebuild.js"></script>
    <script src="~/Angular/controllers/diariasprebuildApp.js"></script>
<script>
    function initialize() {
        initMap();
        angular.element(document.getElementById('diariasprebuildApp')).scope().startApp();
        initGridPrebuild();
        initGridActividadesByPoste();
        initGridActividadUsuario();
    }
</script>

}
<div id="diariasprebuildApp" data-ng-app="diariasprebuildApp" data-ng-controller="diariasprebuildController">
    <div class="page-content-inner">
        <div class="row">
            @Html.Partial("~/views/diariasprebuild/diariasvista1.cshtml")
            @Html.Partial("~/views/diariasprebuild/diariasvista2.cshtml")
        </div>
        <div class="row">
            @Html.Partial("~/views/diariasprebuild/diariasvista3.cshtml")
        </div>
    </div>
</div>