@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MetronicLayout.cshtml";
}


@*<link href="~/Content/themes/start/jquery-ui.start.min.css" rel="stylesheet" />
    <link href="~/Content/ui.jqgrid.css" rel="stylesheet" />

    <link href="~/Content/home.css" rel="stylesheet" />
    <link href="~/Content/fontmaps.css" rel="stylesheet" /> *@
<link href="~/Content/mapas.css" rel="stylesheet" />
<link href="~/Content/home.css" rel="stylesheet" />
@section scripts {  
    <script src="../assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/grid.locale-en.js"></script>*
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @*<link href="~/Content/themes/start/jquery-ui.start.min.css" rel="stylesheet" />*@
    <link href="~/Content/ui.jqgrid.css" rel="stylesheet" />

@*    <script src="~/Scripts/mapas/googlemaps.js"></script>*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXIfqI0uB8etsuthpP2ZOKidDodYShFt8"
        async defer></script>
    <script src="~/Js/jqgrid/jqgridDiariasConfig.js"></script>
    <script src="~/Js/mapas/mapas.js"></script>
    <script src="~/Angular/Services/GeoMapxWebApi.js"></script>
    <script src="~/Angular/controllers/diariasApp.js"></script>
<script>
    function initialize() {
        initMap();
        initGridActividadesByPoste('/diarias/GetActividadesByPoste/?posteID=0');
        initGridActividadUsuario();
        initGridCodigoActividades();
        initGridCodigoPostes();
        angular.element(document.getElementById('diariasApp')).scope().startAppDiarias();
    }
    //$(function () { initialize();});
    //initGridActividadUsuario();
    //initGridCodigoPostesPager();
    //initGridCodigoActividades();
</script>

}
<div id="diariasApp" data-ng-app="diariasApp" data-ng-controller="diariasController">
    <div class="page-content-inner">
        <div class="row">

            @Html.Partial("~/views/diarias/diariasvista1.cshtml")
            @Html.Partial("~/views/diarias/diariasvista2.cshtml")

        </div>
        <div class="row">
            @Html.Partial("~/views/diarias/diariasvista3.cshtml")
        </div>
    </div>
    @*{{ startAppDiarias(); }}*@
</div>

        @*<script src="~/Scripts/mapas/googlemaps.js"></script>*@
        @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXIfqI0uB8etsuthpP2ZOKidDodYShFt8&callback=initMap"
        async defer></script>*@
        @*<script src="~/Scripts/mapas/mapas.js"></script>*@
        @*<script src="~/Scripts/jqgrid/jqgridConfig.js"></script>*@
        @*<script src="~/Scripts/mapas/mapas.js"></script>*@

        @* <script src="~/Scripts/angular.js"></script>*@
        @*<script src="~/Scripts/angular-resource.js"></script>  *@
        @*<script src="~/Angular/controllers/diarias.js"></script>*@

        @*<script src="~/Angular/controllers/appMap.js"></script>*@
       @*<script>
    initMap();
    initGridActividadesByPoste('/diarias/GetActividadesByPoste/?posteID=91');
        //initGridActividadUsuario();
        //initGridCodigoPostesPager();
        //initGridCodigoActividades();
</script>*@
@*<script src="~/Angular/controllers/diarias.js"></script>*@