<!-- Begin: life time stats -->
<div class="col-md-12 heigth380">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Herramientas
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="fullscreen"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#overview_3" data-toggle="tab">Materiales </a>
                            </li>
                            <li>
                                <a href="#overview_4" data-toggle="tab">Codigo de Postes </a>
                            </li>
                            <li>
                                <a href="#overview_5" data-toggle="tab">Codigo Actividades </a>
                            </li>
                        </ul>
                        <div class="tab-content ">
                            <div class="tab-pane active " id="overview_3">
                                <div class="table-responsive">
                                    <table id="jqGridCodigoActividades" class="heigth380" style="width: 300px"></table>
                                    <div id="jqGridCodigoActividadesPager"></div>
                                </div>
                            </div>
                            <div class="tab-pane" id="overview_4">
                                <div class="table-responsive">
                                    <table id="jqGridCodigoPostes" class="heigth380" style="width: 300px"></table>
                                    <div id="jqGridCodigoPostesPager"></div>
                                </div>
                            </div>
                            <div class="tab-pane" id="overview_5">
                                <div class="table-responsive">
                                    @*<input id="search_cells" type="search"/>*@
                                    <table id="jqGridActividadUsuario" class="heigth380" style="width: 300px"></table>
                                    <div id="jqGridActividadUsuarioPager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End: life time stats -->
